*Zone.Identifier*

# macOS
.DS_Store

# Python
.venv/

# Local tools
.local/

# QuantumROM build cache/tools
.quantumrom/

# (optional)
*.pyc
__pycache__/

# For local builds not required for github workflows
Firmware/
